

/* new css */
body{
    background-image: url(../img/fiware-logo.png);
}

.packetType{
    font-weight: bold;
    font-style: italic;
}

.parameters-title{
    font-weight: bold;
    font-size: 1.1em;
}

.resource{
    border-left: 5px darkgray solid;
    margin-top: 5px;
    padding-left: 5px;
    background-color: #FBF7F7;
}

.action{
    border-left: 1px blue solid;
    margin-top: 5px;
    margin-bottom: 25px;
    padding-left: 5px;
    padding-bottom: 15px;
    background-color: #E0DCF3;
}

.action-header{
    font-size: 1.1em;
    font-weight: bold;
}