
body{
    /*background-image: url(../img/fiware-logo.png);*/
}

@media (min-width: 980px) {
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }

  #TOC-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    overflow: auto;
  }

  #API-content{
    margin-left: calc(18%);
  }
  #API-content{
    margin-left: calc(20% - 2em - 15px);
  }

}

#TOC-container ul{
padding-left: 15px;
}

#TOC-container h2{
margin-left: 15px;
}

.toc li{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}


dd{
    margin-left: 1.2em;
}

dd dl{
    margin-bottom: 0px;
}

.packetType{
    font-weight: bold;
    font-style: italic;
}

.packetType ~ .payload-title{
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    display: block;
    margin-top: 5px;
}

.rest-packet-div{
    margin-top: 15px;
}
.parameters-title{
    font-weight: bold;
    font-size: 1.1em;
}

.parameters-title+dl dl{
    margin-left:2em;
}

.attributes-title{
    font-weight: bold;
    font-size: 1.1em;
}

.attributes-title+dl dl{
    margin-left:2em;
}

.resource{
    border-left: 5px darkgray solid;
    margin-top: 5px;
    padding-left: 5px;
    background-color: #FBF7F7;
    margin-bottom: 45px;
}

.resource dl dd>p{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.action{
    border-left: 2px blue solid;
    margin-top: 5px;
    margin-bottom: 25px;
    padding-left: 5px;
    padding-bottom: 15px;
    background-color: #E0DCF3;
}

.action dl dd>p{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.action:nth-child(even){
    border-left: 2px orange solid;
    background-color: #F7EAD2;
}

.action-header{
    font-size: 1.1em;
    font-weight: bold;
}

.action.GET{
    background-color: #E0DCF3;
    border-left: 2px blue solid;
}

.action.POST{
    border-left: 2px orange solid;
    background-color: #F7EAD2;
}

.action.PUT{
    border-left: 2px orange solid;
    background-color: #DEB887;
}

.action.PATCH{
    border-left: 2px green solid;
    background-color: #ECF5CF;
}

.action.DELETE{
    border-left: 2px red solid;
    background-color: #E6BFBF;
}

.action h4{
    font-size: 1.05em;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}   

.resourceExample{
    border-left: 5px darkgray solid;
    margin-top: 5px;
    padding-left: 5px;
    background-color: #FBF7F7;
    margin-bottom: 45px;
}

.resourceExample dl dd>p{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.actionExample{
    border-left: 2px blue solid;
    margin-top: 5px;
    margin-bottom: 25px;
    padding-left: 5px;
    padding-bottom: 15px;
    background-color: #E0DCF3;
}

.actionExample dl dd>p{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.actionExample:nth-child(even){
    border-left: 2px orange solid;
    background-color: #F7EAD2;
}


.actionExample h4{
    font-size: 1.05em;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}   

.actionExample.GET{
    background-color: #E0DCF3;
    border-left: 2px blue solid;
}

.actionExample.POST{
    border-left: 2px orange solid;
    background-color: #F7EAD2;
}

.actionExample.PUT{
    border-left: 2px orange solid;
    background-color: #DEB887;
}

.actionExample.PATCH{
    border-left: 2px green solid;
    background-color: #D4EA89;
}

.actionExample.DELETE{
    border-left: 2px red solid;
    background-color: #E6BFBF;
}

.payload-title{
    font-size: 1.08em;
    font-weight: normal;
    text-decoration: underline;
    margin-bottom: 7px;
}

.action{
    overflow: hidden;
}

.goExample{
    margin-top: 20px;
    float: left;
    margin-right: 10px;
}

.goExample a{
    padding: 5px;
    background-color: rgba(171, 171, 171, 0.4);
    border:1px solid;
}

.goApiary {
    margin-top: 20px;
}

.goApiary a{
    padding: 5px;
    background-color: rgba(171, 171, 171, 0.4);
    border:1px solid;
}

.goActions {
    margin-top: 20px;
}

.goActions a{
    padding: 5px;
    background-color: rgba(171, 171, 171, 0.4);
    border:1px solid;
}


.dateLabel, .dateValue{
    font-size: 1.2em;
    color: #ababab;
}

.versionValue{
    margin-left: 20px;
}

